@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito',
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: #505f98;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@font-face {
  font-family: Gaoel;
  src: url(/static/fonts/Gaoel.woff) format('woff');
}

#logo {
  font-size: 24px;
  font-family: Gaoel, 'Arial Narrow', Arial, sans-serif;
}

.main.title {
  font-size: 48px;
  font-family: Gaoel, 'Arial Narrow', Arial, sans-serif;
}

.home.hero {
  background-image: url(/static/images/home.svg);
  background-repeat: no-repeat;
  background-position: right;
}

@import '../../node_modules/bulma/bulma.sass';
